
{% block head %}
{% include "head.html" %}
{% endblock %}
{% load static %}
<div class="container">
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="{% url 'index_main' prev %}">Previous</a></li>
            <li class="page-item"><a class="page-link" href="{% url 'index_main' next %}"> Next</a></li>
        </ul>
    </nav>  
    <div class="row">
        {% for file in complete_list %}
        <div class="col-3">
            <div class="ex2">
                <a target="_blank" href="{% url 'view_main' file.dir_name_encoded %}"><img width="250" src="{% static file.files_in_dir %}"></a>
            </div>
            <div class="ex3">
                {{ file.dir_name }} 
            </div> 
        </div>
        {% endfor %} 
    </div>
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="{% url 'index_main' prev %}">Previous</a></li>
            <li class="page-item"><a class="page-link" href="{% url 'index_main' next %}"> Next</a></li>
        </ul>
    </nav>  
</div>